name: Auto Deploy Node.js App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: 225
          script: |
            cd /root/testingforputpush/node-demo/
            git fetch origin main
            git reset --hard origin/main
            npm install --production
             if ! command -v pm2 &> /dev/null
             then
            sudo npm install -g pm2
             fi
             pm2 restart node-demo || pm2 start server.js --name node-demo
           
